html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 460px;
    min-height: 480px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 80px;
    width: 80px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li,
.final-stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*style for modal*/
.modal-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(46, 61, 73, 0.3);
}


.modal{
    width: 400px;
    position: relative;
    top: 50%;
    padding: 0 0 2em;
    left: 50%;
    background-color: #ffeeff;
    transform: translate(-50%, -50%);
}


.modal-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}


.modal-close{
    font-weight: bold;
    font-size: 1em;
    color: #dd11bb;
}


.modal-body{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.stat-group{
    text-align: center;
}

.stat-group > li{
    display: block;
    list-style: none;
    padding: 4px 0;
}


/*table{
    width: 100px;
    margin: 0 auto;
}


th,
td{
    padding: 5px 30px;
    width: 200px;
}*/


.modal-button{
    display: flex;
    justify-content: space-around;
}


.butn{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 0 solid;
    box-shadow: 10px 10px 15px #c4c4c4;
    transition: 0.4s;
    cursor: pointer;
}


.butn:hover{
    box-shadow: none;
    position: relative;
    left: 3px;
    top: 3px;
    transition: 0.4s ease-in;
    background-color: #c4c4c4;
}


.hide{
    display: none;
}/*to hide the modal*/


/*media query for smaller screen responsiveness*/

@media screen and (min-width: 381px) and (max-width: 520px) {
    .deck {
        width: 380px;
        min-height: 400px;
        padding: 24px;
    }
    
    .deck .card {
        height: 70px;
        width: 70px;
    }   
}


@media screen and (max-width: 400px) {
    .deck {
        width: 310px;
        min-height: 330px;
        padding: 18px;
    }
    
    .deck .card {
        height: 58px;
        width: 58px;
    }
}